.cell{
    width: 60px;
    height: 60px;
    background-color: #00FFFF;
    border: 4px #FF00FF solid;
    margin: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
}
.myDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
